<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/icomoon.css" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/lightbox.min.css" rel="stylesheet" type="text/css">
	<link href="~/_assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">

	<script src="~/_assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="~/_assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script src="~/_assets/js/blockui.min.js" type="text/javascript"></script>
	<script src="~/_assets/js/bootbox.min.js" type="text/javascript"></script>
	<script src="~/_assets/js/moment.min.js" type="text/javascript"></script>
	<script src="~/_assets/js/daterangepicker.js" type="text/javascript"></script>
	<script src="~/_assets/js/daterangepicker.tr.js" type="text/javascript"></script>
	<script src="~/_assets/js/pnotify.min.js" type="text/javascript"></script>
	<script src="~/_assets/js/fancybox.min.js" type="text/javascript"></script>

	<script src="~/_assets/js/anytime.min.js"></script>
	<script src="~/_assets/js/bootstrap-datepicker.min.js"></script>
	<script src="~/_assets/js/bootstrap-datetimepicker.min.js"></script>
	<script src="~/_assets/js/bootstrap-timepicker.min.js"></script>
	<script src="~/_assets/js/bootstrap-tokenfield.min.js"></script>

	<link href="~/_assets/css/bootstrap-tokenfield.min.css" rel="stylesheet" type="text/css">

	<script src="~/_assets/js/date.tr.js"></script>
	<script src="~/_assets/js/interactions.min.js"></script>
	<script src="~/_assets/js/select2.min.js"></script>

	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script src="~/_assets/js/apexcharts.min.js"></script>

	<script src="~/_assets/js/layout_fixed_sidebar_custom.js"></script>
	<link rel="shortcut icon" href="/favicon-16x16.png" />
	<script src="~/_assets/js/hover_dropdown.min.js"></script>
	<script src="~/_assets/js/sweetalert.min.js"></script>
	<script src="~/_assets/js/custom.js?v=1"></script>
	<script src="~/_assets/js/app.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
	<script src="~/_assets/js/blockui.min.js"></script>

	<style>

		.sidebar-mobile-expanded {
			left: 0 !important;
		}
	</style>

	@RenderSection("styles", required: false)

	

</head>
<body>
	<div class="navbar navbar-expand-md navbar-dark fixed-top">
		<div class="navbar-brand">
			<a href="/" class="d-inline-block pl-2">
				<i class="icon-traffic-cone"></i>
			</a>
			<button type="button" class="btn btn-xs btn-success ml-2" id="closeMenu">Aç/Kapa</button>
		</div>
		<div class="d-md-none pr-4">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-paragraph-justify3"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-tree5"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
		</div>
	</div>
	<div class="page-content">
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md d-block">
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<div class="sidebar-section">
			</div>
		</div>
		<div class="content-wrapper">
			@RenderBody()
		</div>
	</div>

	<div class="bottom-left-alert">
		<div class="alert alert-danger d-none" id="homeAlert" style="position:relative">
			<span class="homeAlertClose" style="position:absolute;right:20px;"><i class="icon-close2"></i></span>
			<div class="homeAlertOpenClose">Domain Uyarıları</div>
			<div class="homeAlerts" style="display:none">
			</div>
		</div>
	</div>
	
	<!-- Row Selection -->
	<style>
		.tr-hover {
			background-color: #f6ffaa !important;
			cursor: pointer;
			color: black !important;
		}

		.tr-selected {
			background-color: #ffe2c9 !important;
			cursor: pointer;
			color: black !important;
		}

		.tr-danger {
			background-color: #cadbcc !important;
			cursor: pointer;
			color: black;
		}
	</style>
	<script>
		$(document).ready(function () {
			$("tr").bind('click', function () {
				var $this = $(this);

				if ($this.parent()[0].nodeName != "THEAD") {
					$this.toggleClass("tr-selected");
				}

			})
		});
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>